@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h1 class="text-center"> Application framework and DB caching</h1>
<p class="lead text-center">Functionality, performance and possibilities of EF second level cache.</p>

<h4>What do you want to do?</h4>

<ul>
    <li>
        @Html.ActionLink("Products catalogue", "Index", "Catalogue")
    </li>
    <li>
        @Html.ActionLink("Test scenarios", "Index", "TestScenarios")
    </li>
</ul>