@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h2>Home</h2>
<h2>What do you wanna do?</h2>


@Html.ActionLink("Products catalogue", "Index", "Catalogue")
@Html.ActionLink("Test scenarios", "Index", "TestScenarios")