@using System.Web.Optimization
@{
    ViewBag.Title = "Products catalogue";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bower_components/ng-admin/build/ng-admin.min.js")
    @Scripts.Render("~/Scripts/pages/catalogue/main.js")
}

@section styles {
    @Styles.Render("~/bower_components/ng-admin/build/ng-admin.min.css")
}
<div ng-app="myApp">
    <div ui-view></div>
</div>

