@using System.Web.Optimization
@{
    ViewBag.Title = "Products catalogue";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/scripts/catalogue")
}




<h2>Catalogue</h2>

TODO

