@model dynamic

@{
    ViewBag.Title = "Test scenarios";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h2>Test scenarios</h2>
<p>Here you can select from different test cases to be performed on the database and caching framework:</p>

<ul>
    <li>
        @Html.ActionLink("Scenario1", "Scenario1", "TestScenarios")
    </li>
</ul>
