@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "ExampleScenario3";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h2>ExampleScenario3</h2>
<div>
    <h4>Test Description:</h4>
    <p class="lead">Simple GET query and updating data:</p>
    <ol>
        <li> 2 <b>GET request</b> on 100 products. </li>
        <li> Checking if data are cached. </li>
        <li> Get number of elements in cache. </li>
        <ol type="a">
            <li> 20 different <b>PUT request</b> of these data. </li>
            <li> 3x <b>DELETE request</b> of these data. </li>
        </ol>
        <li> Rollback changes</li>
        <li> Get numberof element is cache. </li>
    </ol>

    <p>Blah, blah, blah.. some other shit...</p>


    <button id="executeUpdate" class="btn btn-info pull-right" data-url="@Url.RouteUrl("DefaultApi", new {controller = "Scenario3", httproute = true})">
        Run test (UPDATE)
    </button>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/pages/testScenarios/scenario3.js")
}
<div id="containerUpdate" class="container">
    <h2>Number of elements in Cache</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Before UPDATE</th>
                <th>After UPDATE</th>
            </tr>
        </thead>
        <tbody>
            <tr id="placeholderUpdate" class="placeholder-row">
                <td class="beforeUpdate"></td>
                <td class="afterUpdate"></td>
            </tr>
        </tbody>
    </table>
</div>

<button id="executeDelete" class="btn btn-info pull-right" data-url="@Url.Action("Delete", "api/scenario3")">
    Run test (DELETE)
</button>

<div id="containerDelete" class="container">
    <h2>Number of elements in Cache</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Before DELETE</th>
                <th>After DELETE</th>
            </tr>
        </thead>
        <tbody>
            <tr id="placeholderDelete" class="placeholder-row">
                <td class="beforeDelete"></td>
                <td class="afterDelete"></td>
            </tr>
        </tbody>
    </table>
</div>