@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "ExampleScenario6";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h2>ExampleScenario6</h2>
<div>
    <p class="lead">Maximazing number of elements in cache:</p>
    <ol>
        <li> Simple <b>GET</b> queries over all data</li>
        <li> Trying to cache all ranges of data</li>
        <li> Return an exception message (if any)</li>
    </ol>

    <p>Server is returning Error message "OutOfMemory". Number of cached elements cant be returned, because after exception server is throwing data away.</p>

    <form id="options">
        <div class="form-group">
            <input type="checkbox" id="useCloudDatabase" name="useCloudDatabase" value="true" />
            <label for="useCloudDatabase">Use remote database located in USA (otherwise local database will be used)</label>
        </div>

        <button id="execute" class="btn btn-info pull-right" data-url="@Url.RouteUrl("DefaultApi", new {controller = "Scenario6", httproute = true})">
            Run test
        </button>
    </form>

</div>
@section scripts{
    @Scripts.Render("~/Scripts/pages/testScenarios/scenario6.js")
}
<div id="objectMsg" class="container">
    <h2>Messages returned from Server</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Error Msg</th>
            </tr>
        </thead>
        <tbody>
            <tr id="placeholderMsg" class="placeholder-row">
                <td class="msg"></td>
            </tr>
        </tbody>
    </table>
</div>