@using System.Web.Optimization

@{
    ViewBag.Title = "Scenario 1";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<div>
    <h2>Scenario 1</h2>

    <p class="lead">Simple GET query executed by 100 users simultaneously:</p>
    <ul>
        <li> Parallel GET request performed by 100 users on same 100 products</li>
        <li> Test measures response time for each user, as well as number of items that are stored in cache before and after each query execution</li>
    </ul>

    <form id="options">
        <div class="form-group">
            <input type="checkbox" id="useCloudDatabase" name="useCloudDatabase" value="true" />
            <label for="useCloudDatabase">Use remote database located in USA (otherwise local database will be used)</label>
        </div>

        <button id="execute" class="btn btn-primary pull-right" data-url="@Url.RouteUrl("DefaultApi", new {controller = "Scenario1", httproute = true})">
            Run test
        </button>
    </form>
</div>

<div>
    <div id="execution-times" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>
<div>
    <div id="cache-sizes" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>


@section scripts{
    @Scripts.Render("~/Scripts/pages/testScenarios/scenario1.js")
}